<h2><%= t('.title', name: 'CMD') %></h2>

<%= form_for @product do |f| %>

<p>
	<%= f.label :title %>
	<%= f.text_field :title %>
</p>

<p>
	<%= f.label :details %>
	<%= f.text_area :details %>
</p>

<p>
	<%= f.submit %>
</p>

<% end %>